:root {
  --tog-circle-top: 10px;
  --tog-circle-left: calc(100vw - 200px);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3vh;
}

#page-title {
  position: absolute; 
  border-radius: 20px;
  padding: 10px;
  top: 25vh;
  left: 12.5vw;
  width: 350px;
  height: 350px;
  color: #000;
  background: linear-gradient(#e66465, #9198e5);
  transform: rotate(45deg);
}

#toggle-circle {
  display: inline-block;
  position: relative;
  left: var(--tog-circle-left);
  top: var(--tog-circle-top);
  border-radius: 100%;
  background-color: #000;
  width: 50px;
  height: 50px;
  transition: .2s;
}

#toggle-circle:hover {
  left: calc(var(--tog-circle-left) - 10px);
  width: 100px;
  cursor: pointer;
  border-radius: 25px;
  box-shadow: 0px 0px 25px;
}


.flex-container {
  margin-left: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.flex-item {
  margin-right: 30px;
}

#page-footer {
  display: absolute;
  font-size: 20px;
  top: 97vh;
  left: 50vw;
}

@media only screen and (max-width: 1200px) {
  #page-title {
    position: absolute;
    border-radius: 20px;
    padding: 10px;
    top: 35vh;
    left: 12.5vw;
    width: 200px;
    height: 200px;
    color: #000;
    background: linear-gradient(#e66465, #9198e5);
    transform: rotate(45deg);
  }
}

@media only screen and (max-width: 700px) {
  #page-title {
    position: absolute;
    border-radius: 20px;
    padding: 10px;
    top: 40vh;
    left: 12.5vw;
    width: 100px;
    height: 100px;
    color: #000;
    background: linear-gradient(#e66465, #9198e5);
    transform: rotate(45deg);
  }
}

@media only screen and (max-width: 400px) {
  #page-title {
    position: absolute;
    border-radius: 20px;
    padding: 10px;
    top: 5vh;
    left: 25vw;
    width: 100px;
    height: 100px;
    color: #000;
    background: linear-gradient(#e66465, #9198e5);
    transform: rotate(45deg);
    font-size: small;
  }
}