body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#page-title {
  position: absolute; 
  border-radius: 20px;
  padding: 10px;
  top: 25vh;
  left: 12.5vw;
  width: 350px;
  height: 350px;
  color: #000;
  background: linear-gradient(#e66465, #9198e5);
  transform: rotate(45deg);
}

.flex-container {
  margin-top: 20vh;
  margin-left: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.flex-item {
  margin-right: 30px;
}

#page-footer {
  display: absolute;
  font-size: 20px;
  top: 97vh;
  left: 50vw;
}

@media only screen and (max-width: 1200px) {
  #page-title {
    position: absolute;
    border-radius: 20px;
    padding: 10px;
    top: 35vh;
    left: 12.5vw;
    width: 200px;
    height: 200px;
    color: #000;
    background: linear-gradient(#e66465, #9198e5);
    transform: rotate(45deg);
    font-size: small;
  }
}

@media only screen and (max-width: 700px) {
  #page-title {
    position: absolute;
    border-radius: 20px;
    padding: 10px;
    top: 40vh;
    left: 12.5vw;
    width: 100px;
    height: 100px;
    color: #000;
    background: linear-gradient(#e66465, #9198e5);
    transform: rotate(45deg);
    font-size: small;
  }
}

@media only screen and (max-width: 400px) {
  #page-title {
    position: absolute;
    border-radius: 20px;
    padding: 10px;
    top: 5vh;
    left: 25vw;
    width: 100px;
    height: 100px;
    color: #000;
    background: linear-gradient(#e66465, #9198e5);
    transform: rotate(45deg);
    font-size: small;
  }
}